{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid ">
            <a class="navbar-brand text-white px-2" href="{% url 'index' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item border-start">
                    <a class="nav-link active text-white nav-link mx-2" aria-current="page" href="{% url 'booklist' %}">Book List</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    </header>
{% endblock header %}
